<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parent_Suite">
<listeners>
 <listener class-name="com.frame.automation.utilities.MyListener"/> 
<listener class-name="com.frame.automation.utilities.SuiteTestListener"/> 
</listeners>
<test name="ItestReporter">
<classes>
<class name="UI.GeeksForGeeksTests" />
<class name="UI.BrowserStackTutorials" />
<class name="UI.GoogleTests1" />
</classes>
</test>
</suite>
<!-- Suite -->